# Java class-Files
**/*.class

# Backup-Files unserer ASCII-Editoren
**/*~
**/*.bak
**/*.swp

# Binäre Dateien wie *.class
[Bb]in/

# Log-Files ignorieren
[Ll]ogs/

# Ordner für die HTML-Dokumentation
# Die Ergebnisse sind reproduzierbar, deshalb wird das
# Verzeichnis html ignoriert
[Hh]tml/
[Dd]oc/
# Verzeichnis mit Log-Files
[Ll]ogs/

# Javadoc-Ergebnis ignorieren
[Dd]oc/

# Eclipse Projektinfos
.classpath
.project
.settings/
