# Backup-Files unserer ASCII-Editoren
*~
*.bak

# Profile-Verzeichnisse aus der Kontrollfrage
[Bb]in/

# Verzeichnis mit log-Files und logback Configs
logs/
**/logback-test.xml
**/logback.xml

# Eclipse Projektinfos
.classpath
.project
