# Java class-Files
**/*.java

# Backup-Files unserer ASCII-Editoren
**/*~
**/*.bak

# Profile-Verzeichnisse aus der Kontrollfrage
[Bb]in/

# Ordner für die HTML-Dokumentation
# Die Ergebnisse sind reproduzierbar, deshalb wird das
# Verzeichnis html ignoriert

# Doxygen-Ergebnis ignorieren
[Hh]tml/

# Javadoc-Ergebnis ignorieren
[Dd]oc/

# Eclipse Projektinfos
.classpath
.project
.settings/
