<Configuration>
     <!-- Konfiguration mit Ausgaben in eine ASCII-Datei -->
     <appender name="myFile" class="ch.qos.logback.core.FileAppender">
        <!-- <file>FirstScene.log</file> -->
        <file>./logs/logback.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <prudent>true</prudent>
        <encoder>
         <pattern>
           %d{HH:mm} [%thread] %-5level %logger{36} - %msg%n
          </pattern>
        </encoder>
    </appender>
   
    <logger name="examples.FirstScene" level="INFO">
         <appender-ref ref="myFile"/>
    </logger>
    
    <logger name="geometry.shapes.Line" level="TRACE">
         <appender-ref ref="myFile"/>
    </logger>
    
     <logger name="geometry.shapes.Rectangle" level="TRACE">
         <appender-ref ref="myFile"/>
    </logger>
    
    <root level="DEBUG">
          <!-- Kein Appender-ref für den Root-Logger, sonst wird
               alles zweimal ausgegeben! -->
          <!-- <appender-ref ref="myFile"/> -->   
    </root>
</Configuration>
